<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <li>Titutlo Contact</li>
    <section>
        <a>Ejemplo de formulario</a>

        <form action="" method="">
            <fieldset>
              <legend>Ejemplo Formulario</legend>
                <div>
                   <label for="nombre y apellido">Nombre</label>
                   <input type="text" name="nombre y apellidp" id="nombre y apellid"/>
                   <br>
                </div>
                <div>
                   <label for="telefono">Telefono</label>
                   <input type="number" name="telefono" id="telefono"/>
                   <br>
                </div>
                <div>
                   <label for="email"> Email</label>
                  <input type="email" name="email" id="email"/>
                   <br>
                </div>
                <div>
                  <label for="area">Comentarios: </label>
                  <textarea name="text" id="area" cols="30" rows="10"/></textarea>
                  <br>
                </div>
                <div>
                   <label for="pasword">Contraseña: </label>
                   <input type="password" name="Pasword" id="Pasword"/>
                   <br>
                </div>
                <div>
                  <button type="submit"> Enviar</button>
                  <button type="reset"> Reset</button>
                  <br>
               </div>
            </fieldset>
        </form>
        
        <article>
            <br>
            <a> Ejemplo control de seleccion</a>
            
            <label for="opcion 1">Opcion 1: </label>
            <input type="radio" name="Pregunta 1" value="opcion 1"/>
            <label for="opcion 2">Opcion 2: </label>
            <input type="radio" name="Pregunta 2" value="opcion 2"/>
        </article>
            <br>
            <div>Acepta terminos y condiciones</div>
            <input type="checkbox" name="acepta" value="1"/>
            <br>
            <a>Ejemplo menu desplegable</a>
          <select name="talles">
            <option value="L">Large</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
          </select>  
          <img src="/Images/carretera.jpg" alt="ruta" />      

        

    </section>
</body>
</html>